.page {
  &__promo {
    background: url(@img/Promo_img.jpg) center / cover no-repeat;
  }
}

// Section "New Generation"
.newgen {
  @include adaptiveValue("padding-top", 117, 40, 0, 1500);
  @include adaptiveValue("padding-bottom", 142, 40, 0, 1500);
  background-color: #f7f7f7;
  &__icon {
    text-align: center;
    margin-bottom: em(34, 16);
  }
  &__title {
    margin-bottom: em(35, 18);
  }
  &__text {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: em(20, 18);
    }
  }
}

// Section "Brands"
.brands {
  &__row {
    position: relative;
    display: flex;
    @media (max-width: em(1100)){
      flex-direction: column;
    }    
  }
  &__column {
    flex: 0 1 33.333%;
    &_big {
      flex: 0 1 66.667%;
    }
    @media (max-width: em(1100)){
      .brands__row_last &:nth-child(1) {
        order: 2;
      }
      .brands__row_last &:nth-child(2) {
        order: 1;
      }
      .brands__row_last &:nth-child(3) {
        order: 3;
      }
    }
  }
  &__content {
    padding: rem(70) rem(68) rem(54);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      z-index: 5;
    }
    @media (max-width: em(1500)){
      padding: rem(40) rem(35) rem(30);
    }
  }
  &__img-ibg {
    padding: 0px 0px 37.51% 0px;
  }
}

.item-brands {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  &__logo {
    display: inline-block;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(100, 194, 158, 0.5);
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
  }
  &:hover &__logo {
    opacity: 1;
    visibility: visible;
  }
  &__img-ibg {
    display: inline-block;
    width: 100%;
    height: 100%;
    @media (max-width: em(1100)) {
      padding-bottom: 70%;    
    }
  }
}

// Section "Slider"
.slider {
  @include adaptiveValue("padding-top", 120, 50);
  @include adaptiveValue("padding-bottom", 60, 30);
  background-color: #f7f7f7;
}

.swiper-slide {
  &__icon {
    margin-bottom: rem(35);
    text-align: center;
  }
  &__title {
    font-size: rem(18);
    font-weight: 700;
    color: $secondColor;
    text-align: center;
    margin-bottom: rem(20);
    span {
      font-weight: 300;
      color: $mainColor;
    }
  }
  &__text {
    font-size: rem(24);
    font-style: italic;
    line-height: math.div(34,24);
    text-align: center;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  @include adaptiveValue("margin-top", 100, 30);
  margin: rem(100) 0 0 0;
  &-bullet {
    display: block;
    margin: 0 rem(5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #c8c8c8;
    cursor: pointer;
    &-active {
      background-color: #a9afb3;
    }
  }
}

